@use "sass:math";

$card-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
$business-red: red;
$hover-bg: #6c757d;
$hover-text: #ffffff;
$card-body-bg: #e9ecef;

.pagefind-ui__form {
    max-width: initial !important;
}

.current {
    font-weight: 700;
}

.current a {
    color: #000;
    text-decoration: none;
}

.eleventy-plugin-youtube-embed {
    margin-bottom: 2rem;
}

.strath-bootstrap input,
.strath-bootstrap button,
.strath-bootstrap select,
.strath-bootstrap optgroup,
.strath-bootstrap textarea {
    font-family: "Roboto", sans-serif;
}

.bullets ul {
    list-style-type: none;
}

.whitetext {
    color: #fff !important;
}

.bg-grey {
    background-color: #f8f9fa;
}

#uosPageTitleImage {
    border-bottom: 10px solid #ee3224;
    margin-bottom: 0;
}

.has-bg-image {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}

.grey-block-button-list li a {
    text-decoration: none !important;
}

.grey-block-button-list li a:hover {
    color: #ffffff;
}

.testimonial-image {
    border-radius: 50%;
    max-width: 80%;
    max-height: 250px
}

.testimonial-border {
    border: none;
}

@media (min-width: 768px) {
    .testimonial-border {
        border-left: 3px solid #0078ae;
    }
}

.card {
  height: 100% !important;
  border-radius: 0 !important;
  box-shadow: $card-shadow;
  border: 0 !important;

  &-img-top {
    border-radius: 0 !important;
    border-bottom: 5px solid $business-red;
    max-height: 200px;
    min-height: 200px;
    object-fit: cover;
  }

  &-link {
    text-decoration: none !important;

    &:hover {
      .card-body {
        background-color: $hover-bg !important;
        transition: .2s;
      }

      .card-link {
        text-decoration: none !important;
      }
      .card,
      .card-title {
        color:#fff !important;
      }
    }
  }

  &-title {
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 0.02rem;
    line-height: 1.9rem !important;
  }

  &-body {
    background-color: $card-body-bg;
  }
}

// Credit: Nicolas Gallagher and SUIT CSS.

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
    }

    .embed-responsive-item,
    iframe,
    embed,
    object,
    video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.embed-responsive-21by9 {
    &::before {
        padding-top: percentage(math.div(9, 21));
    }
}

.embed-responsive-16by9 {
    &::before {
        padding-top: percentage(math.div(9, 16));
    }
}

.embed-responsive-4by3 {
    &::before {
        padding-top: percentage(math.div(3, 4));
    }
}

.embed-responsive-1by1 {
    &::before {
        padding-top: percentage(math.div(1, 1));
    }
}

ul.timeline-list {
    position: relative;
    margin: 0;
    padding: 0
}

ul.timeline-list:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color: #ff3636;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

ul.timeline-list li {
    position: relative;
    clear: both;
    /* replaced display: table; with flex so we can center contents vertically */
    display: flex;
    align-items: center;
    min-height: 140px;
    /* adjust this value to taste / make responsive with media queries */
}

.timeline_content {
    border: 2px solid #fa8888;
    background-color: #fff;
    /* remove float and let flex parent handle layout */
    text-align: right;
    width: 45%;
    color: #333;
    padding: 30px;
}

ul.timeline-list li:nth-child(2n) .timeline_content {
    margin-left: auto;
    text-align: left;
}

.timeline_content h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0;
}

ul.timeline-list li:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background-color: #ff3636;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.timeline_content span {
    font-size: 18px;
    font-weight: 700;
    color: #ff3636;
}