---
layout: "themes/strathweb2022/main"
---

<div data-pagefind-body class="container mt-4 mb-4 p-0">

<h1 class="d-none" data-pagefind-meta="title">{{ title }}</h1>

    <div class="d-none" id="content-search" data-content-id="main-content"></div>
</div>

<div id="main-content">
   {{ content }}
</div>