<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <packageRestore>
        <!-- The 'enabled' key is True when the "Allow NuGet to download missing packages" checkbox is set.
  Clearing the box sets this to False, disabling command-line, automatic, and MSBuild-integrated restore. -->
        <add key="enabled" value="True" />
    </packageRestore>

    <!-- Unify.* packages will be restored from Sbs.Unify, everything else from nuget.org. -->
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="SBS">
            <package pattern="Unify*" />
        </packageSource>
    </packageSourceMapping>
</configuration>