registry=https://registry.npmjs.org

@unify:registry=https:${Unify__AzureFeedsUrl}/npm/registry/ 

; begin auth token
${Unify__AzureFeedsUrl}/npm/registry/:username=sbs-webservices
${Unify__AzureFeedsUrl}/npm/registry/:_password=${Unify__AzureFeedsToken}
${Unify__AzureFeedsUrl}/npm/registry/:email=npm requires email to be set but doesn't use the value
${Unify__AzureFeedsUrl}/npm/:username=sbs-webservices
${Unify__AzureFeedsUrl}/npm/:_password=${Unify__AzureFeedsToken}
${Unify__AzureFeedsUrl}/npm/:email=npm requires email to be set but doesn't use the value
; end auth token